* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  width: 100%;

}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1180px;
  background-color: #a67354;
  position: relative;
}

.section-container {
  display: flex;
  padding: 5px;
  /* gap: 10px; */
  flex-wrap: wrap;
  gap:10px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .figure img {
    width: 90%;
    max-width: 360px;
    object-fit: contain;
    object-position: 80% 60%;

  }
  .element3{
    display: none;
  }
  .scard img ,
  .bcard img{
    width: 260px !important;
    width: 100%;
  }
  .scard button{
     max-width: 260px !important;
  }
  .bcard .btm{
    max-width: 260px !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .section-container{
    justify-content: center;
    align-items: center;
  }
  .line{
    max-width: 360px;
    flex-wrap: wrap;
  }

}
